<!-- <div class="chatroom__page">
  <div class="chatroom__container">
    <div class="chatroom__users">
      <app-user-chat
        *ngFor="let user of users"
        [user]="user"
        [noRead]="true"
      ></app-user-chat>
    </div>
    <app-chat class="chatroom__chat" [messages]="messages"></app-chat>
  </div>
</div> -->

<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card chat-app">
        <div id="plist" class="people-list">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search..." />
          </div>
          <ul
            *ngIf="role === 'TEACHER'"
            class="list-unstyled chat-list mt-2 mb-0"
          >
            <li
              *ngFor="let student of (teacher$ | async).students"
              class="clearfix"
              [ngClass]="{ active: student._id == selectedStudent?._id }"
              (click)="selectStudent(student)"
            >
              <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                alt="avatar"
              />
              <div class="about">
                <div
                  class="name d-inline-block text-truncate"
                  style="max-width: 150px"
                >
                  {{ student.name }} {{ student.firstname }}
                  {{ student.lastname }}
                </div>
                <div class="status">
                  <i class="fa fa-circle offline"></i> left 7 mins ago
                </div>
              </div>
            </li>
          </ul>
          <ul
            *ngIf="role === 'STUDENT'"
            class="list-unstyled chat-list mt-2 mb-0"
          >
            <li
              *ngFor="let teacher of (student$ | async).teachers"
              class="clearfix"
              [ngClass]="{ active: teacher._id == selectedTeacher?._id }"
              (click)="selectTeacher(teacher)"
            >
              <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                alt="avatar"
              />
              <div class="about">
                <div
                  class="name d-inline-block text-truncate"
                  style="max-width: 150px"
                >
                  {{ teacher.name }} {{ teacher.firstname }}
                  {{ teacher.lastname }}
                </div>
                <div class="status">
                  <i class="fa fa-circle offline"></i> left 7 mins ago
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="chat">
          <div class="chat-header clearfix">
            <div class="row">
              <div class="col-lg-6">
                <a
                  href="javascript:void(0);"
                  data-toggle="modal"
                  data-target="#view_info"
                >
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                    alt="avatar"
                  />
                </a>
                <div class="chat-about">
                  <h6 *ngIf="role === 'TEACHER'" class="m-b-0">
                    {{ selectedStudent.name }} {{ selectedStudent.firstname }}
                    {{ selectedStudent.lastname }}
                  </h6>
                  <h6 *ngIf="role === 'STUDENT'" class="m-b-0">
                    {{ selectedTeacher.name }} {{ selectedTeacher.firstname }}
                    {{ selectedTeacher.lastname }}
                  </h6>
                  <small>Last seen: 2 hours ago</small>
                </div>
              </div>
              <div class="col-lg-6 hidden-sm text-right">
                <a href="javascript:void(0);" class="btn btn-outline-secondary"
                  ><i class="fa fa-camera"></i
                ></a>
                <a href="javascript:void(0);" class="btn btn-outline-primary"
                  ><i class="fa fa-image"></i
                ></a>
                <a href="javascript:void(0);" class="btn btn-outline-info"
                  ><i class="fa fa-cogs"></i
                ></a>
                <a href="javascript:void(0);" class="btn btn-outline-warning"
                  ><i class="fa fa-question"></i
                ></a>
              </div>
            </div>
          </div>
          <div #chatHistory class="chat-history">
            <ul class="m-b-0">
              <li *ngFor="let message of mensajes | async" class="clearfix">
                <!-- <div class="message-data float-right">
                  <span class="message-data-time">10:10 AM, Today</span>
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar7.png"
                    alt="avatar"
                  />
                </div> -->
                <div class="message-data">
                  <div
                    class="message my-message"
                    [ngClass]="{
                      'float-right': role === message.role
                    }"
                  >
                    {{ message.message }}
                  </div>
                </div>
              </li>
              <!-- <li class="clearfix">
                <div class="message-data">
                  <span class="message-data-time">10:12 AM, Today</span>
                </div>
                <div class="message my-message">Are we meeting today?</div>
              </li>
              <li class="clearfix">
                <div class="message-data">
                  <span class="message-data-time">10:15 AM, Today</span>
                </div>
                <div class="message my-message">
                  Project has been already finished and I have results to show
                  you.
                </div>
              </li> -->
            </ul>
          </div>
          <div class="chat-message clearfix">
            <div class="input-group mb-0">
              <div (click)="enviar()" class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-send"></i></span>
              </div>
              <input
                type="text"
                (keydown.enter)="enviar()"
                class="form-control"
                [formControl]="newMensajeForm"
                placeholder="Enter text here..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
