<ng-container *ngIf="role === 'STUDENT'; else teacherFilter">
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input
      [rangePicker]="picker"
      [formGroup]="formFilters.get('date')"
    >
      <input
        matStartDate
        [formControl]="formFilters.get('date').get('from')"
        placeholder="Start date"
      />
      <input
        matEndDate
        [formControl]="formFilters.get('date').get('to')"
        placeholder="End date"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select [formControl]="formFilters.get('status')" multiple>
      <mat-option
        *ngFor="let status of status$ | async"
        [value]="status.value"
        >{{ status.value }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Classroom</mat-label>
    <mat-select [formControl]="formFilters.get('classroom')" multiple>
      <mat-option
        *ngFor="let classroom of classroom$ | async"
        [value]="classroom.value"
        >{{ classroom.value.number }} {{ classroom.value.letter }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Subject</mat-label>
    <mat-select [formControl]="formFilters.get('subject')" multiple>
      <mat-option
        *ngFor="let subject of subject$ | async"
        [value]="subject.value"
        >{{ subject.value }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <!-- <mat-icon>search</mat-icon> -->

    <input
      [formControl]="formFilters.get('search')"
      matInput
      placeholder="Introduce"
    />
  </mat-form-field>
</ng-container>

<ng-template #teacherFilter>teacher filter </ng-template>
