<ng-container *ngIf="role === 'ROLE_STUDENT'; else teacherFilter">
  <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker" [formGroup]="datePicker">
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select [formControl]="statusForm" multiple>
      <mat-option *ngFor="let status of status$ | async" [value]="status">{{
        status.value
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Classroom</mat-label>
    <mat-select [formControl]="classroomForm" multiple>
      <mat-option
        *ngFor="let classroom of classroom$ | async"
        [value]="classroom.value"
        >{{ classroom.value.number }} {{ classroom.value.letter }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <!-- <mat-icon>search</mat-icon> -->

    <input [formControl]="searchForm" matInput placeholder="Introduce" />
  </mat-form-field>
</ng-container>

<ng-template #teacherFilter>teacher filter </ng-template>
