<div class="d-flex flex-column align-items-center justify-content-center">
  <h6 class="ranking-title">
    <i class="bi bi-star star"></i><i class="bi bi-star star-m"></i
    ><i class="bi bi-star"></i> TOP 3 <i class="bi bi-star"></i
    ><i class="bi bi-star star-m"></i><i class="bi bi-star star"></i>
  </h6>

  <div class="top-three">
    <div class="rank rank-1">
      <i class="bi bi-trophy-fill"></i>
      <span>{{ top1 }}</span>
    </div>
    <div class="rank rank-2">
      <i class="bi bi-trophy-fill"></i>
      <span>{{ top2 }}</span>
    </div>
    <div class="rank rank-3">
      <i class="bi bi-trophy-fill"></i>
      <span>{{ top3 }}</span>
    </div>
  </div>
</div>
