<form [formGroup]="form">
  <div>
    <label>Username: </label>
    <input [formControl]="form.get('username')" />
  </div>
  <div>
    <label>Password: </label>
    <input [formControl]="form.get('password')" />
  </div>
  <button (click)="onSubmit()">Login</button>
</form>

<!-- <div class="login__container">
  <form [formGroup]="form" class="login__items">
    <div class="login__header">{{ header }}</div>

    <ng-container *ngIf="isLogin; else singup">
      <div class="login__input">
        <label>Email</label>
        <input formControlName="email" />
      </div>
      <div class="login__input">
        <label>Password</label>
        <input type="password" formControlName="password" />
      </div>
      <div class="login__input">
        <button
          class="login__button login__button--login"
          name="login"
          (click)="login()"
        >
          LOGIN
        </button>
        <button
          class="login__button--register"
          name="register"
          (click)="registerTeacher()"
        >
          Teacher
        </button>
        <button
          class="login__button--register"
          name="register"
          (click)="registerStudent()"
        >
          Student
        </button>
      </div>
    </ng-container>
    <ng-template #singup>
      <div *ngIf="!isLogin" class="login__input">
        <label>Name</label>
        <input formControlName="name" />
      </div>
      <div *ngIf="!isLogin" class="login__input">
        <label>FirstName</label>
        <input formControlName="firstName" />
      </div>
      <div *ngIf="!isLogin" class="login__input">
        <label>LastName</label>
        <input formControlName="lastName" />
      </div>
      <div class="login__input">
        <label>Email</label>
        <input formControlName="email" />
      </div>
      <div class="login__input">
        <label>Password</label>
        <input type="password" formControlName="password" />
      </div>
      <div class="login__input">
        <label>CLASSROOM</label>
        <mat-form-field appearance="outline">
          <mat-label>INSERT</mat-label>
          <mat-select [formControl]="classrooms" multiple>
            <mat-option
              *ngFor="let classroom of classroomList"
              [value]="classroom._id"
              >{{ classroom.number + "º " + classroom.letter }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="login__input" *ngIf="!isTeacher">
        <label>Teachers</label>
        <mat-form-field appearance="outline">
          <mat-label>INSERT</mat-label>
          <mat-select [formControl]="teachers" multiple>
            <mat-option
              *ngFor="let teacher of teacherList"
              [value]="teacher._id"
              >{{
                teacher.name + " " + teacher.firstName + " " + teacher.lastName
              }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="login__input">
        <button name="register" (click)="register()">REGISTER</button>
      </div>
    </ng-template>
  </form>
</div> -->
