<div class="container ranking">
  <ng-container
    class="d-flex align-content-center"
    *ngIf="(role | async) === 'STUDENT'; else teacherPost"
  >
    <h4 class="d-flex w-50 justify-content-center p-3 ranking-title">
      <i class="bi bi-star star"></i><i class="bi bi-star star-m"></i
      ><i class="bi bi-star"></i> Ranking <i class="bi bi-star"></i
      ><i class="bi bi-star star-m"></i><i class="bi bi-star star"></i>
    </h4>
    <div class="d-flex">
      <div class="col">
        <div class="table-container">
          <table class="custom-table-student">
            <thead>
              <tr>
                <th>Estudiante</th>
                <th class="text-center">Presentación</th>
                <th class="text-center">Organización</th>
                <th class="text-center">Exactitud</th>
                <th class="text-center">General</th>
                <th class="text-center">Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let resultado of resultadosGeneral$ | async;
                  let i = index
                "
                [ngClass]="{ 'selected-row': i === selectedRowIndex }"
              >
                <td>
                  {{ resultado.student.name }}
                  {{ resultado.student.firstname }}
                  {{ resultado.student.lastname }}
                </td>

                <td class="text-center">
                  <app-puntuacion
                    [rating]="
                      resultado.resultado.calificacionesGeneral.presentacion
                    "
                  ></app-puntuacion>
                </td>
                <td class="text-center">
                  <app-puntuacion
                    [rating]="
                      resultado.resultado.calificacionesGeneral.organizacion
                    "
                  ></app-puntuacion>
                </td>
                <td class="text-center">
                  <app-puntuacion
                    [rating]="
                      resultado.resultado.calificacionesGeneral.exactitud
                    "
                  ></app-puntuacion>
                </td>
                <td class="text-center">
                  <app-puntuacion
                    [rating]="resultado.resultado.calificacionesGeneral.general"
                  ></app-puntuacion>
                </td>
                <td class="text-center">
                  <b>{{ resultado.resultado.puntosPorAspecto.puntos }}</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <app-top [top]="top3$ | async"></app-top>
        </div>
      </div>
      <div class="col-6">
        <app-grafico-alumno
          *ngIf="selectStudent$ | async"
          [resultadoGeneral]="selectStudent$ | async"
        ></app-grafico-alumno>
      </div>
    </div>
  </ng-container>
  <ng-template #teacherPost class="d-flex align-content-center">
    <h4 class="d-flex w-50 justify-content-center p-3 ranking-title">
      <i class="bi bi-star star"></i><i class="bi bi-star star-m"></i
      ><i class="bi bi-star"></i> Ranking <i class="bi bi-star"></i
      ><i class="bi bi-star star-m"></i><i class="bi bi-star star"></i>
    </h4>
    <div class="d-flex">
      <div class="col">
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <th>Estudiante</th>
                <th class="text-center">Presentación</th>
                <th class="text-center">Organización</th>
                <th class="text-center">Exactitud</th>
                <th class="text-center">General</th>
                <th class="text-center">Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let resultado of resultadosGeneral$ | async;
                  let i = index
                "
                (click)="onRowSelected($event, i, resultado)"
                [ngClass]="{ 'selected-row': i === selectedRowIndex }"
              >
                <td>
                  {{ resultado.student.name }} {{ resultado.student.firstname }}
                  {{ resultado.student.lastname }}
                </td>

                <td class="text-center">
                  <app-puntuacion
                    [rating]="
                      resultado.resultado.calificacionesGeneral.presentacion
                    "
                  ></app-puntuacion>
                </td>
                <td class="text-center">
                  <app-puntuacion
                    [rating]="
                      resultado.resultado.calificacionesGeneral.organizacion
                    "
                  ></app-puntuacion>
                </td>
                <td class="text-center">
                  <app-puntuacion
                    [rating]="
                      resultado.resultado.calificacionesGeneral.exactitud
                    "
                  ></app-puntuacion>
                </td>
                <td class="text-center">
                  <app-puntuacion
                    [rating]="resultado.resultado.calificacionesGeneral.general"
                  ></app-puntuacion>
                </td>
                <td class="text-center">
                  <b>{{ resultado.resultado.puntosPorAspecto.puntos }}</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <app-top [top]="top3$ | async"></app-top>
        </div>
      </div>
      <div class="col-6">
        <app-grafico-alumno
          *ngIf="selectStudent$ | async"
          [resultadoGeneral]="selectStudent$ | async"
        ></app-grafico-alumno>
      </div>
    </div>
    <!-- <div>
      <canvas id="myChart"></canvas>
    </div> -->
  </ng-template>
</div>
