<form [formGroup]="form" class="row g-3">
  <div class="col-md-8">
    <label for="inputEmail4" class="form-label">Title</label>
    <input
      type="email"
      class="form-control"
      formControlName="title"
      id="inputEmail4"
    />
  </div>
  <div class="col-md-2">
    <label for="inputPassword4" class="form-label">Subject</label>
    <select formControlName="subject" id="inputState" class="form-select">
      <option selected *ngFor="let subject of subjects">
        {{ subject }}
      </option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="dueDate" class="form-label">Due Date</label>
    <input
      formControlName="endDate"
      type="date"
      id="dueDate"
      class="form-control"
    />
  </div>
  <div class="row pt-2 m-md-1">
    <label for="inputAddress" class="form-label">Description</label>
    <textarea
      class="border rounded form-control"
      name=""
      id=""
      cols="50"
      rows="4"
      formControlName="message"
    ></textarea>
  </div>
  <div class="d-flex align-items-center col-4">
    <input
      formControlName="file"
      type="file"
      name="fileToUpload"
      (change)="onFileSelected($event)"
      multiple
    />
  </div>

  <div class="col-md-5">
    <label for="inputState" class="form-label">Students</label>
    <select
      formControlName="students"
      id="inputState"
      class="form-select"
      multiple
    >
      <option *ngFor="let student of students" [value]="student._id" selected>
        {{ student.name }} {{ student.firstname }} {{ student.lastname }}
      </option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="inputZip" class="form-label">Clase</label>
    <select formControlName="classroom" id="inputState" class="form-select">
      <option *ngFor="let classroom of classrooms">
        {{ classroom.number }} {{ classroom.letter }}
      </option>
    </select>
  </div>

  <div class="col-12">
    <button (click)="create()" type="submit" class="btn btn-secondary">
      CREATE
    </button>
  </div>
</form>
