<form [formGroup]="form" class="row g-3">
  <div class="col-md-8">
    <label for="inputEmail4" class="form-label">Title</label>
    <input
      type="email"
      class="form-control"
      formControlName="title"
      id="inputEmail4"
    />
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Subject</label>
    <select id="inputState" class="form-select">
      <option selected *ngFor="let student of students | async">
        {{ student.name }} {{ student.firstName }}
      </option>
    </select>
  </div>
  <div class="row pt-2 m-md-1">
    <label for="inputAddress" class="form-label">Description</label>
    <textarea
      class="border rounded"
      name=""
      id=""
      cols="50"
      rows="4"
    ></textarea>
  </div>
  <div class="d-flex align-items-center col-4">
    <input type="file" name="fileToUpload" multiple />
  </div>

  <div class="col-md-5">
    <label for="inputState" class="form-label">Students</label>
    <select id="inputState" class="form-select" multiple>
      <option selected *ngFor="let student of students | async">
        {{ student.name }} {{ student.firstName }}
      </option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="inputZip" class="form-label">Clase</label>
    <select id="inputState" class="form-select">
      <option selected *ngFor="let student of students | async">
        {{ student.name }} {{ student.firstName }}
      </option>
    </select>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-secondary">Sign in</button>
  </div>
</form>
