<form [formGroup]="form" class="row g-3">
  <div class="col-md-8">
    <label for="inputEmail4" class="form-label">Title</label>
    <input
      type="email"
      class="form-control"
      formControlName="title"
      id="inputEmail4"
    />
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Subject</label>
    <select formControlName="subject" id="inputState" class="form-select">
      <option selected *ngFor="let subject of subjects">
        {{ subject }}
      </option>
    </select>
  </div>
  <div class="row pt-2 m-md-1">
    <label for="inputAddress" class="form-label">Description</label>
    <textarea
      class="border rounded"
      name=""
      id=""
      cols="50"
      rows="4"
      formControlName="message"
    ></textarea>
  </div>
  <div class="d-flex align-items-center col-4">
    <input formControlName="file" type="file" name="fileToUpload" multiple />
  </div>

  <div class="col-md-5">
    <label for="inputState" class="form-label">Students</label>
    <select
      formControlName="students"
      id="inputState"
      class="form-select"
      multiple
    >
      <option
        *ngFor="let student of students | async"
        [value]="student._id"
        selected
      >
        {{ student.user.name }} {{ student.user.firstName }}
        {{ student.user.lastName }}
      </option>
    </select>
  </div>
  <div class="col-md-3">
    <label for="inputZip" class="form-label">Clase</label>
    <select id="inputState" class="form-select">
      <option selected *ngFor="let student of students | async">
        {{ student.name }} {{ student.firstName }}
      </option>
    </select>
  </div>

  <div class="col-12">
    <button (click)="create()" type="submit" class="btn btn-secondary">
      Sign in
    </button>
  </div>
</form>
