/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "font-awesome/scss/font-awesome";
// Variable overrides first
$primary: #008000;
$enable-shadows: true;
$prefix: "";

.mat-expansion-indicator {
  display: none;
}
/* Cambia el color de fondo del navbar a un verde más claro */
.nav {
  background-color: #66cc66;
}

/* Cambia el color del texto de los enlaces del navbar a blanco */
.nav-link {
  color: #ffffff;
  width: 100%; /* Hace que el nav-link ocupe todo el ancho del nav-item */
  height: 100%;
  text-align: center; /* Centra el texto dentro del nav-link */
}
.nav-item {
  width: 100%;
}

/* Cambia el color de fondo de los enlaces del navbar cuando se pasa el cursor sobre ellos a un verde más oscuro */
.nav-link:hover {
  background-color: #008000;
}

/* Cambia el color de fondo de los enlaces del navbar cuando están activos a un verde más claro */
.nav-link.active {
  background-color: #99ff99;
}
// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $primary;
  overflow: auto;
}
body {
  background-color: #008000;
}

/* Cambia el color del texto a blanco para que contraste con el fondo verde */
.card {
  background-color: #ffffff;
  color: #006600;
}

/* Cambia el color de fondo del encabezado de la tarjeta a un verde más oscuro */
.card-header {
  background-color: #006600;
  color: #ffffff;
}

/* Cambia el color de fondo del botón a un verde más claro y el color del texto a blanco */
.btn-primary {
  background-color: #99ff99;
  color: #ffffff;
}

/* Cambia el color de fondo del botón cuando se pasa el cursor sobre él a un verde más oscuro */
.btn-primary:hover {
  background-color: #006600;
}
