/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "font-awesome/scss/font-awesome";
// Variable overrides first
$primary: rgb(48, 168, 255);
$enable-shadows: true;
$prefix: "";

.mat-expansion-indicator {
  display: none;
}
.nav-link {
  color: rgb(155, 175, 189) !important;
  background-color: rgb(62, 35, 136);

  cursor: pointer;
}
.nav-link:hover {
  background-color: rgb(199, 207, 125);
}

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $primary;
  overflow: hidden;
}
